@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1800ms infinite;
  animation: ellipsis steps(4, end) 1800ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */

  width: 0px;
}

@keyframes ellipsis {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading span {
  animation-name: ellipsis;
  animation-fill-mode: both;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
}

@for $i from 2 through 3 {
  .loading span:nth-child(#{$i}) {
    animation-delay: #{0 + (($i - 1) * 0.7)}s;
  }
}

textarea {
  resize: none;
  overflow: auto;
}

textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  resize: none;
  overflow: auto;
}

input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  resize: none;
  overflow: auto;
}
