<script setup>
import { ref, nextTick } from "vue";
import { isAuthenticated } from "../auth.js";

// make references
const loading = ref(true);
const posts = ref([]);
const emit = defineEmits(["title"]);
const hideForm = ref(true);

// updates component
const update = async () => {
  loading.value = true;
  await nextTick();
  loading.value = false;
};

// if page needs reloading, reload here
if (localStorage.getItem("needsReload")) {
  // clear from local storage
  localStorage.removeItem("needsReload");
  // reload page
  location.reload();
}

// get posts
const getPosts = async () => {
  fetch(`${import.meta.env.VITE_BACKEND_URL}/`)
    .then((res) => {
      return res.json();
    })
    .then((json) => {
      loading.value = false;
      const arr = [];
      json.posts.forEach((post) => {
        if (post.published == true) arr.push(post);
      });
      posts.value = arr;
      emit("title", "");
    });
};

getPosts();

const submitPost = async (title, text) => {
  // create JSON object and proper headers
  const options = {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
    },
    credentials: "include",
    body: JSON.stringify({
      title: title,
      text: text,
      published: true,
    }),
  };

  // send to backend
  fetch(`${import.meta.env.VITE_BACKEND_URL}/post/new_post`, options).then(
    (res) => {
      // if everything sent ok
      if (res.ok) {
        // fetch new posts
        getPosts();
        // hide comment form
        hideForm.value = true;
        // update view
        update();
      }
    }
  );
};

const savePost = async (title, text) => {
  // create JSON object and proper headers
  const options = {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
    },
    credentials: "include",
    body: JSON.stringify({
      title: title,
      text: text,
      published: false,
    }),
  };

  // send to backend
  fetch(`${import.meta.env.VITE_BACKEND_URL}/post/new_post`, options).then(
    (res) => {
      // if everything sent ok
      if (res.ok) {
        // fetch new posts
        getPosts();
        // hide comment form
        hideForm.value = true;
      }
    }
  );
};
</script>

<template>
  <div class="w-full flex flex-col items-center">
    <div
      class="h-full flex flex-col justify-center items-center"
      v-if="loading"
    >
      <p class="text-3xl loading">
        Loading<span>.</span><span>.</span><span>.</span>
      </p>
    </div>
    <div class="w-full flex flex-col" v-else v-for="post in posts">
      <router-link
        :to="`/post/${post._id}`"
        class="flex flex-col items-center w-full h-fit border-b hover:bg-zinc-700 py-10 px-10"
      >
        <h1 class="text-2xl mb-4">
          &#x300E;&nbsp;&nbsp;&nbsp;{{ post.title }}&nbsp;&nbsp;&nbsp;&#x300F;
        </h1>
        <p class="mb-4">
          {{ post.author }} &#128394;&#65039; {{ post.date.substring(0, 10) }}
        </p>
        <p>{{ post.text }}</p>
      </router-link>
    </div>
    <div class="w-3/4 flex justify-center my-10" v-if="isAuthenticated">
      <button
        v-if="hideForm"
        @click="hideForm = false"
        class="hover:bg-emerald-700 py-5 w-[8rem] flex justify-center border"
      >
        + Post
      </button>
      <div class="flex flex-col align-center w-full items-center" v-else>
        <div class="flex items-center justify-center mb-10 gap-10">
          <label for="post_title">Title:</label>
          <input
            id="post_title"
            class="bg-zinc-900 border p-5"
            v-model="postTitle"
          />
        </div>
        <textarea
          v-model="postText"
          class="bg-zinc-900 border p-5 mb-10 w-2/3"
          rows="4"
        ></textarea>
        <div class="flex items-center justify-center gap-10">
          <button
            @click="submitPost(postTitle, postText)"
            class="hover:bg-emerald-700 py-5 w-[8rem] flex justify-center border"
          >
            &#x1F680; Publish
          </button>
          <button
            @click="savePost(postTitle, postText)"
            class="hover:bg-yellow-700 py-5 w-[8rem] flex justify-center border"
          >
            &#x1F4BE; Save
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
