<script setup>
import { useRouter } from "vue-router";
const router = useRouter();
// emit title
const emit = defineEmits(["title"]);
emit("title", "Log In");

// attempt login
const attemptLogin = (username, password) => {
  // create JSON object and proper headers
  const options = {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
    },
    credentials: "include",
    body: JSON.stringify({
      username: username,
      password: password,
    }),
  };
  // send to backend
  fetch(`${import.meta.env.VITE_BACKEND_URL}/login`, options).then((res) => {
    // if everything sent ok
    if (res.ok) {
      // indicate that a reload is needed
      localStorage.setItem("needsReload", "true");
      router.push("/");
    } else {
      alert("Incorrect username or password!");
    }
  });
};
</script>

<template>
  <div class="flex flex-col items-center justify-center gap-10">
    <div class="flex items-center gap-10">
      <label for="username">Username:</label>
      <input id="username" class="bg-zinc-900 border p-5" v-model="username" />
    </div>
    <div class="flex items-center gap-10">
      <label for="username">Password:</label>
      <input
        type="password"
        id="username"
        class="bg-zinc-900 border p-5"
        v-model="password"
        @keydown.enter="attemptLogin(username, password)"
      />
    </div>
    <button
      @keydown.enter="attemptLogin(username, password)"
      @click="attemptLogin(username, password)"
      class="mt-2 hover:bg-emerald-700 py-5 w-[8rem] flex justify-center border"
    >
      &#128273; Log In
    </button>
  </div>
</template>
