<script setup>
import { ref, nextTick } from "vue";
import { currentUser, isAuthenticated } from "../auth.js";
import { useRoute, useRouter } from "vue-router";
const route = useRoute();
const router = useRouter();

const emit = defineEmits(["title"]);

// make references
const loading = ref(true);
const post = ref(null);
const isAuthor = ref(false);
const isPublished = ref(true);
const showCommentForm = ref(false);

// updates component
const update = async () => {
  loading.value = true;
  await nextTick();
  loading.value = false;
};

// get post
const getPost = async () => {
  // create JSON object and proper headers
  const options = {
    credentials: "include",
  };
  fetch(
    `${import.meta.env.VITE_BACKEND_URL}/post/${route.params.postID}`,
    options
  )
    .then((res) => {
      if (res.ok) return res.json();
    })
    .then((json) => {
      emit("title", json.post.title);
      if (json.post.author == currentUser.value) {
        isAuthor.value = true;
      }
      json.post.published
        ? (isPublished.value = true)
        : (isPublished.value = false);
      loading.value = false;
      post.value = json.post;
    });
};

getPost();

// submit comment
const submitComment = async (text, name) => {
  // create JSON object and proper headers
  const options = {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
    },
    body: JSON.stringify({
      text: text,
      author: name,
    }),
  };

  // send to backend
  fetch(
    `${import.meta.env.VITE_BACKEND_URL}/post/${
      route.params.postID
    }/new_comment`,
    options
  ).then((res) => {
    // if everything sent ok
    if (res.ok) {
      // fetch new posts
      getPost();
      // hide comment form
      showCommentForm.value = false;
      // update view
      update();
    }
  });
};

const togglePublish = async (bool) => {
  let options;
  if (bool) {
    // create JSON object and proper headers
    options = {
      method: "PUT",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json;charset=UTF-8",
      },
      credentials: "include",
      body: JSON.stringify({
        title: post._rawValue.title,
        text: post._rawValue.text,
        published: true,
      }),
    };
  } else {
    // create JSON object and proper headers
    options = {
      method: "PUT",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json;charset=UTF-8",
      },
      credentials: "include",
      body: JSON.stringify({
        title: post._rawValue.title,
        text: post._rawValue.text,
        published: false,
      }),
    };
  }

  // send to backend
  fetch(
    `${import.meta.env.VITE_BACKEND_URL}/post/${route.params.postID}`,
    options
  ).then((res) => {
    // if everything sent ok
    if (res.ok) {
      // fetch new posts
      getPost();
      // update view
      update();
    }
  });
};

const deletePost = async () => {
  // create JSON object and proper headers
  const options = {
    method: "DELETE",
    credentials: "include",
  };
  fetch(
    `${import.meta.env.VITE_BACKEND_URL}/post/${route.params.postID}`,
    options
  ).then((res) => {
    if (res.ok) router.push("/");
  });
};
</script>

<template>
  <div class="w-full flex justify-center">
    <div class="flex flex-col justify-center" v-if="loading">
      <p class="text-3xl loading">
        Loading<span>.</span><span>.</span><span>.</span>
      </p>
    </div>
    <div class="w-full flex flex-col items-center h-fit" v-else>
      <div class="w-full flex flex-col items-center py-10 px-10">
        <p class="mb-4">{{ post.text }}</p>
        <p>
          {{ post.author }} &#128394;&#65039; {{ post.date.substring(0, 10) }}
        </p>
        <div v-if="isAuthor" class="mt-10 flex items-center gap-10">
          <router-link
            :to="`/post/${post._id}/edit`"
            class="hover:bg-zinc-700 py-5 w-[8rem] flex justify-center border"
            >&#128394;&#65039; Edit</router-link
          >
          <button
            v-if="isPublished"
            @click="togglePublish(false)"
            class="hover:bg-yellow-700 py-5 w-[8rem] flex justify-center border"
          >
            Unpublish
          </button>
          <button
            v-else
            @click="togglePublish(true)"
            class="hover:bg-yellow-700 py-5 w-[8rem] flex justify-center border"
          >
            Publish
          </button>
          <button
            @click="deletePost()"
            class="hover:bg-red-700 py-5 w-[8rem] flex justify-center border"
          >
            &#128686; Delete
          </button>
        </div>
      </div>
      <div
        class="w-2/3 flex flex-col items-center justify-center mb-10 py-10 px-10 border"
        v-for="comment in post.comments"
      >
        <p class="mb-4">{{ comment.text }}</p>
        <p>
          {{ comment.author }} &#128394;&#65039;
          {{ comment.date.substring(0, 10) }}
        </p>
      </div>
      <div class="flex justify-center w-2/3 mb-10">
        <button
          v-if="showCommentForm == false"
          @click="showCommentForm = true"
          class="hover:bg-emerald-700 py-5 w-[8rem] flex justify-center border"
        >
          + Comment
        </button>
        <div class="flex flex-col align-center w-full" v-else>
          <textarea
            v-model="commentText"
            class="bg-zinc-900 border p-5 mb-10"
            rows="4"
          ></textarea>
          <div class="flex items-center justify-center gap-10">
            <div
              class="flex items-center justify-center"
              v-if="!isAuthenticated"
            >
              <label for="comment_author">Your name:&nbsp</label>
              <input
                @keydown.enter="submitComment(commentText, commentAuthor)"
                id="comment_author"
                class="bg-zinc-900 border p-5"
                v-model="commentAuthor"
              />
            </div>
            <button
              v-if="!isAuthenticated"
              @keydown.enter="submitComment(commentText, commentAuthor)"
              @click="submitComment(commentText, commentAuthor)"
              class="hover:bg-emerald-700 py-5 w-[8rem] flex justify-center border"
            >
              &#9989; Submit
            </button>
            <button
              v-else
              @keydown.enter="submitComment(commentText, currentUser)"
              @click="submitComment(commentText, currentUser)"
              class="hover:bg-emerald-700 py-5 w-[8rem] flex justify-center border"
            >
              &#9989; Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
