<script setup>
import { useRouter } from "vue-router";
const router = useRouter();

// emit title
const emit = defineEmits(["title"]);
emit("title", "Sign Up");

// create user
const createUser = (username, password) => {
  // create JSON object and proper headers
  const options = {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
    },
    credential: "include",
    body: JSON.stringify({
      username: username,
      password: password,
    }),
  };
  // send to backend
  fetch(`${import.meta.env.VITE_BACKEND_URL}/user/new_user`, options).then(
    (res) => {
      // if everything sent ok
      if (res.ok) {
        alert("Success! Please use your new credentials to login!");
        router.push("/login");
      } else {
        alert("Errors encountered! Please try again!");
      }
    }
  );
};
</script>

<template>
  <div class="flex flex-col items-center justify-center gap-10">
    <div class="flex items-center gap-10">
      <label for="username">Username:</label>
      <input id="username" class="bg-zinc-900 border p-5" v-model="username" />
    </div>
    <div class="flex items-center gap-10">
      <label for="username">Password:</label>
      <input
        type="password"
        id="username"
        class="bg-zinc-900 border p-5"
        v-model="password"
        @keydown.enter="createUser(username, password)"
      />
    </div>
    <button
      @keydown.enter="createUser(username, password)"
      @click="createUser(username, password)"
      class="mt-2 hover:bg-emerald-700 py-5 w-[8rem] flex border justify-center"
    >
      &#128587; Sign Up
    </button>
  </div>
</template>
