<script setup>
import { ref } from "vue";
import { currentUser } from "../auth.js";
import { useRouter } from "vue-router";
const router = useRouter();

// emit title
const emit = defineEmits(["title"]);
emit("title", currentUser._rawValue);

const posts = ref([]);
const loading = ref(true);
const hideForm = ref(true);

// get posts
const getPosts = async () => {
  const options = {
    credentials: "include",
  };
  fetch(`${import.meta.env.VITE_BACKEND_URL}/`, options)
    .then((res) => {
      return res.json();
    })
    .then((json) => {
      loading.value = false;
      const arr = [];
      json.posts.forEach((post) => {
        if (post.author == currentUser._rawValue) arr.push(post);
      });
      posts.value = arr;
    });
};

getPosts();

// edit user
const editUser = (username, password) => {
  // create JSON object and proper headers
  let options = {
    method: "PUT",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
    },
    credentials: "include",
    body: JSON.stringify({
      username: username,
      password: password,
    }),
  };
  // send to backend
  fetch(
    `${import.meta.env.VITE_BACKEND_URL}/user/${currentUser._rawValue}`,
    options
  ).then((res) => {
    // if everything sent ok
    if (res.ok) {
      const logoutOpts = {
        method: "GET",
      };
      // logout
      fetch(`${import.meta.env.VITE_BACKEND_URL}/logout`, logoutOpts).then(
        () => {
          options.method = "POST";
          // then automatically re-login for new user
          fetch(`${import.meta.env.VITE_BACKEND_URL}/login`, options).then(
            () => {
              localStorage.setItem("needsReload", "true");
              router.push("/");
            }
          );
        }
      );
    } else {
      alert("There were errors! Please try again!");
    }
  });
};

// logout
const logout = () => {
  // create JSON object and proper headers
  const options = {
    method: "GET",
    credentials: "include",
  };
  // send to backend
  fetch(`${import.meta.env.VITE_BACKEND_URL}/logout`, options).then((res) => {
    // if everything sent ok
    if (res.ok) {
      // logout
      localStorage.setItem("needsReload", "true");
      router.push("/");
    }
  });
};
</script>

<template>
  <div class="w-full flex flex-col items-center">
    <div
      class="h-full flex flex-col justify-center items-center"
      v-if="loading"
    >
      <p class="text-3xl loading">
        Loading<span>.</span><span>.</span><span>.</span>
      </p>
    </div>
    <div class="w-full flex flex-col" v-for="post in posts">
      <router-link
        :to="`/post/${post._id}`"
        class="flex flex-col items-center w-full h-fit border-b hover:bg-zinc-700 py-10"
      >
        <h1 class="text-2xl mb-4">
          &#x300E;&nbsp;&nbsp;&nbsp;{{ post.title }}&nbsp;&nbsp;&nbsp;&#x300F;
        </h1>
        <p class="mb-4">
          {{ post.author }} &#128394;&#65039; {{ post.date.substring(0, 10) }}
        </p>
        <p>{{ post.text }}</p>
      </router-link>
    </div>
    <div
      class="flex flex-col items-center justify-center gap-10 mt-10"
      v-if="hideForm == false"
    >
      <div class="flex items-center gap-10">
        <label for="username">Username:</label>
        <input
          id="username"
          class="bg-zinc-900 border p-5"
          v-model="username"
        />
      </div>
      <div class="flex items-center gap-10">
        <label for="username">Password:</label>
        <input
          type="password"
          id="username"
          class="bg-zinc-900 border p-5"
          v-model="password"
          @keydown.enter="editUser(username, password)"
        />
      </div>
      <button
        @keydown.enter="editUser(username, password)"
        @click="editUser(username, password)"
        class="mt-2 hover:bg-emerald-700 py-5 w-[8rem] flex border justify-center"
      >
        &#x1F504; Change
      </button>
    </div>
    <div class="w-3/4 flex justify-center my-10 gap-10">
      <button
        v-if="hideForm"
        @click="hideForm = false"
        class="hover:bg-violet-700 py-5 w-[8rem] flex justify-center border"
      >
        Edit User
      </button>
      <button
        @click="logout()"
        class="hover:bg-red-700 py-5 w-[8rem] flex justify-center border"
      >
        &#x1F6AA; Logout
      </button>
    </div>
  </div>
</template>
