<script setup>
import { ref } from "vue";
import Logo from "./Logo.vue";

// make ref for title
const title = ref("");

// change title dynamically based on emit
const changeTitle = (text) => {
  title.value = text;
};
</script>

<template>
  <nav class="flex items-center justify-between w-full border-b">
    <Logo />
    <div class="grow flex justify-center text-2xl">
      {{ title }}
    </div>
    <router-link to="/login">
      <div
        class="h-[4rem] w-[8rem] px-5 flex justify-center items-center border-l border-r hover:bg-cyan-700"
      >
        <h1 class="text-lg">Log In</h1>
      </div>
    </router-link>
    <router-link to="/user/new_user">
      <div
        class="h-[4rem] w-[8rem] max-w-[8rem] px-5 flex justify-center items-center hover:bg-indigo-700"
      >
        <h1 class="text-lg">Sign Up</h1>
      </div>
    </router-link>
  </nav>
  <div class="h-full flex justify-center">
    <router-view @title="(title) => changeTitle(title)"></router-view>
  </div>
</template>
