<template>
  <router-link to="/">
    <div
      class="h-[4rem] px-5 flex items-center border-r hover:bg-gray-100 hover:text-zinc-900"
    >
      <h1 class="font-mono text-2xl">myPlace()</h1>
    </div>
  </router-link>
</template>
