<script setup>
import { loading, isAuthenticated } from "./auth.js";
import AuthenticatedLayout from "./components/AuthenticatedLayout.vue";
import GuestLayout from "./components/GuestLayout.vue";
</script>

<template>
  <div
    class="min-h-screen w-full bg-zinc-900 text-gray-100 flex gap-4 font-mono"
  >
    <div class="flex w-full justify-center items-center" v-if="loading">
      <p class="text-3xl loading">
        Loading<span>.</span><span>.</span><span>.</span>
      </p>
    </div>
    <main class="flex flex-col flex-1" v-else>
      <AuthenticatedLayout v-if="isAuthenticated" />
      <GuestLayout v-else />
    </main>
  </div>
</template>
